<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.bxchongdian.app">

    <!--以下高德地图基础权限-->
    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!--允许拨打电话-->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <!--二维码扫描-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>

    <uses-permission android:name="android.permission.VIBRATE"/>
    <!--消息通知-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name="com.bxchongdian.app.LvApplication"
        tools:replace="android:allowBackup"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppCompatTheme">

        <!--58c5fad304e205a5bc00063c Umeng-->
        <meta-data android:name="UMENG_APPKEY"
            android:value="5b569dc6a40fa37c7700018d"/>
        <meta-data android:name="UMENG_CHANNEL"
            android:value="ChannelID"/>
        <!--gaode map-->
        <meta-data android:name="com.amap.api.v2.apikey"
            android:value="06520c40d6b34aee147fed792c360dc1"/>

        <!-- SplashActivity -->
        <activity android:name="com.bxchongdian.app.views.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.bxchongdian.app.views.activities.MainActivity"
                  android:launchMode="singleTask"
            >
        </activity>
        <activity android:name="com.bxchongdian.app.views.activities.GPSNaviActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.AboutActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.CarActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.CardActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.MessageActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.MoneyActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.StopdialogActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.PileActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.SettingActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.ScanActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.SnInputActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.ForgotPsdActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.CollectionActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.LoginActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.RegisterActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.ChargingActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.PaySettingVerify"/>
        <activity android:name="com.bxchongdian.app.views.activities.PayPasswordActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.RechargeRecordActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.StationInfoActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.StationDetailActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.BalanceInfoActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.TempChargingActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.PayRecordActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.PayDetailsActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.BindCardActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.BindCarActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.CarSelectActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.CarInfoActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.SuggestActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.AboutUsActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.BillActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.OrderSettingActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.ChangePswActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.FeeActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.PileListActivity"/>
        <activity
            android:name="com.bxchongdian.app.views.activities.BillInfoActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.bxchongdian.app.views.activities.ErrorCorrectionActivity"
                  android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.bxchongdian.app.views.activities.ErrorCorrectionLocationActivity"/>
        <activity android:name="com.bxchongdian.app.views.activities.UserHeaderImageActivity"/>
        <!--alipay 支付宝-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>
        <!-- wechat 微信-->
        <activity
            android:name="com.bxchongdian.app.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity
            android:name="com.bxchongdian.app.wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTask"/>

        <service android:name="com.bxchongdian.app.services.CoreService"/>
        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService"/>

        <receiver
            android:name="com.bxchongdian.app.receivers.DownloadReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED"/>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>

        <!-- 必选 蒲公英-->
        <meta-data
            android:name="PGYER_APPID"
            android:value="9d05b00f3f63f8e3d681827f5fbcc422">
        </meta-data>
    </application>

</manifest>